<nav id="post-nav">
    {% if paginator.previous_page %}
        <span class="prev">
            <a href="{{ paginator.previous_page_path | relative_url }}">
                <span class="arrow">←</span> Newer Posts
            </a>
        </span>
    {% endif %}
    {% if paginator.next_page %}
        <span class="next">
            <a href="{{ paginator.next_page_path | relative_url }}">
                Older Posts <span class="arrow">→</span>
            </a>
        </span>
    {% endif %}
</nav>